<form method="get" action="/process_decrypt">
    <p>
        Encrypted email address: <input type="text" size=40 name="recipient">
    </p>
    <p>
        <%= recaptcha_tags %>
    </p>
    <p>
        <input type="submit">
    </p>
</form>

