<p>
  <%= locals[:introduction] %>
</p>

<p>
  <%= locals[:text] %>
</p>

--<br />
<p>
  <a href="https://findthemasks.com">findthemasks.com</a>
</p>

<p>
  Contact data@findthemasks.com if you would like to opt out of future contact from potential donors
  and vendors.
</p>
